@font-face {
  font-family: fontExtraLight;
  src: url(./assets/fonts/BeVietnamPro-ExtraLight.ttf);
}

@font-face {
  font-family: fontSemiBold;
  src: url(./assets/fonts/BeVietnamPro-SemiBold.ttf);
}

html {
  background-color: #000000;
}

/* .bg-image {
  background-image: url(./assets/images/bg_pattern.svg);
  background-size: cover;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  z-index: -1;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
} */